<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Ru</th>
              <th scope="col">Curso</th>
              <th scope="col">Data Nascimento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dados of arquivo; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ dados.nome }}
              </td>
              <td>{{ dados.ru }}</td>
              <td>{{ dados.nomeCurso }}</td>
              <td>{{ dados.dataNascimento | date: 'dd/MM/yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>